<template>
	<div>
		<v-container fluid center class="d-flex flex-sm-row flex-column align-center mt-5 pa-5">
			<h1 class="display-2 font-weight-light ma-2 text-center text-sm-left">A praticidade que você deseja agora está junto com você onde estiver.</h1>
			<v-img
				src="../assets/web_app.svg"
				width="50%"
				style="min-width: 200px"
				class="ma-2"
			></v-img>
		</v-container>
		<v-container
			mt-3
			pa-3
			style="background-color: #2196F3"
			fluid>
			<h1 class="display-1 font-weight-light ma-1 text-center white--text mb-3">Multiplataforma</h1>
			<div class="d-flex flex-sm-row flex-column justify-center">
				<v-card class="ma-2 pa-2" v-bind:class="{cardDesktop: lgUp}">
					<v-card-title class="blue--text">
						<v-icon color="blue" class="mr-2">mdi-desktop-mac</v-icon>
						Desktop
					</v-card-title>
					<v-card-text class="subtitle-1">
						Atende o setor de RH gerenciando os colaboradores, cargos e registros de ponto eletrônico.
					</v-card-text>
				</v-card>
				<v-card class="ma-2 pa-2" v-bind:class="{cardDesktop: lgUp}">
					<v-card-title class="blue--text">
						<v-icon color="blue" class="mr-2">mdi-cellphone-android</v-icon>
						Mobile
					</v-card-title>
					<v-card-text class="subtitle-1">
						Onde os colaboradores podem visualizar todos os seus registros de ponto eletrônico.
					</v-card-text>
				</v-card>
				<v-card class="ma-2 pa-2" v-bind:class="{cardDesktop: lgUp}">
					<v-card-title class="blue--text">
						<v-icon color="blue" class="mr-2">mdi-web</v-icon>
						Web
					</v-card-title>
					<v-card-text class="subtitle-1">
						Meio de encerramento da jornada mensal de trabalho dos colaboradores.
					</v-card-text>
				</v-card>
			</div>
		</v-container>
	</div>
</template>

<script>
export default {
	name: 'Article',
	data(){
		return({
			lgUp: this.$vuetify.breakpoint.lgAndUp
		}
		)
	}
}
</script>

<style type="text/css">
	.cardDesktop {
		width: 33%;
	}
</style>