<template>
  <v-app-bar app elevate-on-scroll class="mb-5">
    <!--<v-icon color="blue">mdi-watch</v-icon>-->
    <v-toolbar-title class="blue--text font-weight-medium">MecSystem</v-toolbar-title>
    <v-spacer></v-spacer>
    <div class="hidden-sm-and-down">
      <v-btn text class="mx-2">Sobre</v-btn>
      <v-btn text class="mx-2">Adquirir</v-btn>
      <v-btn text class="mx-2">Ajuda</v-btn>
      <v-btn text class="mx-2">
        MecPerson
        <v-icon right>mdi-open-in-new</v-icon>
      </v-btn>
    </div>
    <div class="hidden-md-and-up">
      <v-menu
      v-model="value"
      @click="value = !value"
      offset-y="false"
      >
        <template v-slot:activator="{ on }">
          <v-btn
            color="primary"
            dark
            v-on="on"
            icon
          >
            <v-icon>mdi-menu</v-icon>
          </v-btn>
        </template>
        <v-list dense nav>
          <v-list-item>
            <v-btn text class="mx-2" width="100%">Sobre</v-btn>
          </v-list-item>
          <v-list-item>
            <v-btn text class="mx-2" width="100%">Adquirir</v-btn>
          </v-list-item>
          <v-list-item>
            <v-btn text class="mx-2" width="100%">Ajuda</v-btn>
          </v-list-item>
          <v-list-item>
            <v-btn text class="mx-2" width="100%">
              MecPerson
              <v-icon right>mdi-open-in-new</v-icon>
            </v-btn>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>
  </v-app-bar>
</template>

<script>

export default {
  name: 'Header',
  data: () => {
    return({
      value: false
    })
  }
};
</script>
