<template>
  <v-app style="background-color: #fff">
    <v-content>
      <Header/>
      <Article/>
    </v-content>
  </v-app>
</template>

<script>
import Header from './components/Header';
import Article from './components/Article';

export default {
  name: 'App',
  components: {
    Header,
    Article
  }
};
</script>
